{% import "macros/bootstrapNotif.twig" as bootnotif %}
<div class="space"></div>

<h1>Table d'audit ({{controller_vars.nb_actions}})</h1>

<hr/>


{% if controller_vars.nb_actions > 0 %}

	<table class="table table-striped table-bordered">
		<tr>
			<th>Id</th>
			<th>Action</th>
			<th>Date</th>
			<th>Old pseudo</th>
			<th>Old mail</th>
            <th>Old password</th>
            <th>Old category</th>
		</tr>
		{% for key, value in controller_vars.audit %}
			<tr>
				<td>{{ value.audit_id }}</td>
			    <td>{{ value.audit_action }}</td>
				<td>{{ value.audit_action_date }}</td>
				<td>{{ not value.audit_old_pseudo ? "null" :  value.audit_old_pseudo }}</td>
                <td>{{ not value.audit_old_mail ? "null" :  value.audit_old_mail }}</td>
			    <td>{{ not value.audit_old_password ? "null" :  value.audit_old_password }}</td>
				<td>{{ not value.category_name ? "null" :  value.category_name }}</td>
		    <tr/>

		{% endfor %}

	</table>

	<br/>

	<p class="text-center"> Page(s):

		{% for i in 1..controller_vars.nb_pages %}

		    {% if (i == controller_vars.current_page) %}
		        {{ i }}
		    {% else %}
		        <a href="index.php?p=admin_gestion_users&amp;page={{ i }}">{{ i }}</a>
		    {% endif %}

		{% endfor %}

	</p>
{% else %}

	Aucune action dans la table d'audit

{% endif %}
