{% import "macros/bootstrapForm.twig" as form %}
{% import "macros/bootstrapNotif.twig" as bootnotif %}
<div class="space"></div>
{% if get.modif_user %}
	<p>
		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		<a href="index.php?p=admin_gestion_users">Retour à la gestion des_users</a>
	</p>
	<br/>
{% endif %}
<h1>{{ controller_vars.titre_module }}</h1>
<hr/>

{% if get.created and get.created == "success" %}
	{{ bootnotif.notif('success', 'L\'utilisateur a bien été ajouté') }}
{% endif %}

<!-- formTag(id, action = "#", method = "POST") -->
{{ form.formTag('form_add_user') }}

    <!-- inputText(name, label, placeholder, value, class = "default_class") -->
    {{ form.inputText('pseudo', 'Pseudo', 'Entrez le pseudo de l\'utilisateur', controller_vars.user.pseudo, 'control-empty') }}

	<!-- inputText(name, label, placeholder, value, class = "default_class") -->
    {{ form.inputText('mail', 'Email', 'Entrez le mail de l\'utilisateur', controller_vars.user.mail, 'control-empty control-mail') }}

	{% if not get.modif_user %}
		<!-- inputText(name, label, placeholder, value, class = "default_class") -->
	    {{ form.inputText('password', 'Password', 'Entrez le password de l\'utilisateur', controller_vars.user.password, 'control-empty') }}
	{% endif %}

    <div class="form-group">
      <label for="category">Catégorie</label>
      <select id="category" name="category_id" class="form-control">
        <option value="1" {{ controller_vars.user.category_id == 1 ? 'selected' : '' }}>Fraternel</option>
        <option value="2" {{ controller_vars.user.category_id == 2 ? 'selected' : '' }}>Sincère</option>
		<option value="3" {{ controller_vars.user.category_id == 3 ? 'selected' : '' }}>Erudi</option>
        <option value="4" {{ controller_vars.user.category_id == 4 ? 'selected' : '' }}>Audacieux</option>
		<option value="5" {{ controller_vars.user.category_id == 5 ? 'selected' : '' }}>Altruiste</option>
      </select>
    </div>

    <button type="submit" name="{{ controller_vars.submit }}" class="btn btn-default">Submit</button>

</form>
