{% import "macros/bootstrapNotif.twig" as bootnotif %}
<div class="space"></div>

<h1>Gérer les Users du blog ({{ controller_vars.nb_users }})</h1>

<hr/>

{% if get.delete_user and get.delete_user == "success" %}
	{{ bootnotif.notif('success', 'L\'utilisateur a bien été supprimé') }}
{% endif %}

{% if get.user_status_changed and get.user_status_changed == "success" %}
	{{ bootnotif.notif('success', 'Le status de l\'utilisateur a bien été changé') }}
{% endif %}

{% if get.updated and get.updated == "success" %}
	{{ bootnotif.notif('success', 'Les infos de l\'utilisateur ont bien été modifiées') }}
{% endif %}


{% if controller_vars.nb_users > 0 %}

	<table class="table table-striped table-bordered">
		<tr>
			<th>Id</th>
			<th>Pseudo</th>
			<th>Mail</th>
			<th>Category</th>
			<th>Activated</th>
			<th>Change status</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		{% for key, value in controller_vars.users %}
			<tr>
				<td>{{ value.id }}</td>
			    <td>{{ value.pseudo }}</td>
				<td>{{ value.mail }}</td>
				<td>{{ value.category_name }}</td>
			    <td>
			    	{% if value.status == 1 %}
			    		<span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>
			    	{% else %}
			    		<span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span>
			    	{% endif %}
			    </td>
				{% if session.admin.user_id == value.id %}
					<td><span class="text-muted">Action indisponible</span></td>
				{% else %}
					<td>
						{% if value.status == 1 %}
							<a class="text-danger" href="index.php?p=admin_gestion_users&amp;user_id={{ value.id }}&amp;status=0">Disable</a>
						{% else %}
							<a class="text-success" href="index.php?p=admin_gestion_users&amp;user_id={{ value.id }}&amp;status=1">Activate</a>
						{% endif %}
					</td>
				{% endif %}
			    <td>
			    	<a href="index.php?p=admin_add_user&amp;modif_user={{ value.id }}">
			    		<span class="text-primary glyphicon glyphicon-edit" aria-hidden="true"></span>
			    	</a>
			    </td>
				{% if session.admin.user_id == value.id %}
					<td><span class="text-muted">Action indisponible</span></td>
				{% else %}
				<td>
					<a  onclick=' return confirm("Etes-vous sûr de vouloir supprimer cet utilisateur?");' href="index.php?p=admin_gestion_users&amp;suppr_user={{ value.id }}">
						<span class="text-danger glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
				{% endif %}
		    <tr/>

		{% endfor %}

	</table>

	<br/>

	<p class="text-center"> Page(s):

		{% for i in 1..controller_vars.nb_pages %}

		    {% if (i == controller_vars.current_page) %}
		        {{ i }}
		    {% else %}
		        <a href="index.php?p=admin_gestion_users&amp;page={{ i }}">{{ i }}</a>
		    {% endif %}

		{% endfor %}

	</p>
{% else %}

	Aucun user enregistré

{% endif %}
