<div class="center jumbotron">
  <h2 class="text-center">Welcome to Users Manager</h2>

  <hr/>
  <br/>

  <p class="text-center"><a class="btn btn-success" href="index.php?p=admin_login">Acceder à l'espace de gestion des users</a></p>
</div>
