.container{
	width: calc(100% - 220px);
	float: right;
}

.clear{
	clear: both;
}

.hello{
	margin-top: 32px;
	margin-bottom: 32px;
}

h1{
	font-size: 32px!important;
}

h2{
	font-size: 28px!important;
}

.space{
	height: 25px;
}

#admin_header{
	background-color: #000;
	width: 220px;
	height: 100%;
	position: fixed;
}

#admin_header ul{
	width: 100%;
}

#admin_header ul li{
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.text-light-grey{
	color: #eee;
}





#debug_tool{
	width: calc(100% - 220px)!important;
	float: right;
}




#header_admin{
	background-color: #91c0be;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0%;
	z-index: 2;
}

#header_admin ul {
	margin: 20px 0px 0px 0px;
}

#header_admin ul li{
	float: left;
	margin: 0px 10px 0px 10px;
	font-size: 16px;
	color: #eee;
}
