*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans';
}


#debug_tool{
    width: 90%;
}

#debug_tool_core_container{
    width: 95%;
    margin: auto;
}

#debug_tool_core_container h3{
    color: #aeaeae;
}

.btn_debug{
    width: 100px;
    height: 30px;
    margin: 5px;
}

#debug_tool_title{
    height: 45px;
    background-color: #F06060;
    border: 1px #F06060 solid;

}

#debug_tool_title h3{
    padding: 12px 0px 0px 12px;
    color: #fff;
    font-size: 18px;
    margin: 0px!important;
}

#debug_tool_core{
    padding: 30px 0px 30px 0px;
    border: 1px #bebebe solid;
}

.btn_close_modal{
    float: right;
    margin: 5px 7px 0px 0px;
    width: 20px;
    height: 20px;
}

.debug_item{
    display: none;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
}

.debug_item_content{
    padding: 20px 30px 20px 30px;
    overflow: auto;
}

.position_default{
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 5%;
}

#modal_container{
    display: none;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.84);
}

.separator{
    border-top: 1px #dedede solid;
    margin: 15px 0px 15px 0px;
}
