<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{{ page_infos.page_title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="icon" href="http://icons.iconarchive.com/icons/musett/dragon-ballz/256/Dragon-Ball-icon.png">

    	<!-- Chargement des fichiers CSS de bootstrap (si souhaité dans la config) -->
    	{% if bootstrap_files.use  %}
    		<link rel="stylesheet" type="text/css" href="www/assets/bootstrap/css/{{ bootstrap_files.files.css }}">
    	{% endif %}
    	<!-- Chargement des fichiers CSS de la page courante (défini dans la config) -->
    	{% for key, value in stylesheet %}
        	<link rel="stylesheet" type="text/css" href="www/assets/css/{{ value }}">
    	{% endfor %}
    	<!-- Chargement des fichiers CSS (issue de la compilation par less) de la page courante (défini dans la config) -->
    	{% for key, value in less_files %}
        	<link rel="stylesheet" type="text/css" href="www/assets/css/{{ value }}">
    	{% endfor %}
    </head>

    <body>
        <header class="text-light-grey" id="admin_header">
                <p class="hello text-center">Bonjour {{ session.admin.user_pseudo }}</p>
                <hr/>
                <ul>
                    <li><a href="index.php?p=admin_gestion_users">Gérer utilisateurs</a></li>
                    <li><a href="index.php?p=admin_add_user">Ajouter utilisateur</a></li>
					<li><a href="index.php?p=admin_audit">Logs</a></li>
                </ul>
                <hr/>
                <p class="text-center"><a href="index.php?p=logout">Déconnexion</a></p>
        </header>


        <div class="container">
            {% include page_view %}
        </div>

        <div class="clear"></div>

        <footer>
        </footer>


    	<script type="text/javascript" src="www/assets/js/jquery-1.11.3.min.js"></script>
    	<!-- Chargement des fichiers JS de la page courante (défini dans la config) -->
    	{% for key, value in js_files %}
    	<script type="text/javascript" src="www/assets/js/{{ value }}"></script>
    	{% endfor %}
    	<!-- Chargement des fichiers JS de bootstrap (si souhaité dans la config) -->
    	{% if bootstrap_files.use %}
    	<script src="www/assets/bootstrap/js/{{ bootstrap_files.files.js }}"></script>
    	{% endif %}

    	{% if debug_tool %}
		<div id="debug_tool">
			<div id="debug_tool_title">
                <h3>DEBUG TOOL</h3>
			</div>
			<div id="debug_tool_core">
				<div id="debug_tool_core_container">

					<!-- Boutons d'affichage des dump des variables super globales -->
					<h3>Variables super globales</h3>
					<div class="separator"></div>
					<div id="btn_debug_container">
						{% for key, value in debug_global_vars %}
							<a href="#header"><button class="btn_debug" modal="dump_{{ key }}">{{ key }}</button></a>
						{% endfor %}
					</div>
					<!-- Modals contenants les dump respectifs de chaque variable super globales -->
					{% for key, value in debug_global_vars %}
					<div class="debug_item" id="dump_{{ key }}">
						<button class="btn_close_modal">X</button>
						<div class="debug_item_content">
							$_{{ key }}<br/><br/>
							<pre>{{ dump(value) }}</pre>
						</div>
					</div>
					{% endfor %}

					<br/><br/>

					<!-- Boutons d'affichage des dump des variables de la page -->
					<h3>Variables de la page</h3>
					<div class="separator"></div>
					<div id="btn_debug_container">
						{% for key, value in controller_vars %}
							<a href="#header"><button class="btn_debug" modal="dump_{{ key }}">{{ key }}</button></a>
						{% endfor %}
					</div>
					<!-- Modals contenants les dump respectifs de chaque variable de la page -->
					{% for key, value in controller_vars %}
					<div class="debug_item" id="dump_{{ key }}">
						<button class="btn_close_modal">X</button>
						<div class="debug_item_content">
							${{ key }}<br/><br/>
							<pre>{{ dump(value) }}</pre>
						</div>
					</div>
					{% endfor %}
				</div>
				<div id="modal_container"></div>
			</div>
		</div>
	{% endif %}
    </body>
</html>
