<!-- Tag de la balise FORM -->
{% macro formTag(id, action, method) %}
    <form id="{{ id }}" class="{{ class|default('default_class') }}" action="{{ action|default('#') }}" method="{{ method|default('post') }}" enctype="multipart/form-data">
{% endmacro %}

<!-- Input type TEXT -->
{% macro inputText(name, label, placeholder, value, rules, class) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            id="{{ name }}"
            name="{{ name }}"
            value="{{ value }}"
            type="text"
            class="form-control {{ class|default('default_class') }}"
            placeholder="{{ placeholder }}"
            {{ rules }}>
        <p class="help"></p>
    </div>
{% endmacro %}

<!-- champ type TEXTAREA -->
{% macro inputTextarea(name, label, value, rules, rows, class) %}
    <div class='form-group'>
        <label for="{{ name }}">{{ label }}</label>
        <textarea
            id="{{ name }}"
            name="{{ name }}"
            class="form-control {{ class|default('default_class') }}"
            rows="{{ rows|default(5) }}"
            {{ rules }}>{{ value }}</textarea>
        <p class="help"></p>
    </div>
{% endmacro %}

<!-- Input type PASSWORD -->
{% macro inputPassword(name, label, placeholder, value, rules, class) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            id="{{ name }}"
            class="form-control {{ class|default('default_class') }}"
            name="{{ name }}"
            value="{{ value }}"
            type="password"
            class="form-control"
            placeholder="{{ placeholder }}"
            {{ rules }}>
            <p class="help"></p>
    </div>
{% endmacro %}

<!-- Input type FILE -->
{% macro inputFile(name, label, required, class) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            id="{{ name }}"
            class="{{ class|default('default_class') }}"
            accept="image/jpg,image/JPG,image/JPEG,image/jpeg,image/png,image/PNG,image/gif,image/GIF"
            name="{{ name }}[]"
            type="file"
            {{ required ? 'required' : '' }}>
    </div>
{% endmacro %}

<!-- Input type RADIO (choix unique) -->
{% macro inputRadio(name, label, value, checked, class) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            id="{{ name }}"
            class="{{ class|default('default_class') }}"
            name="{{ name }}"
            type="radio"
            value="{{ value }}"
            {{ checked|default('') }} >
    </div>
{% endmacro %}

<!-- Input type CHECKBOX (choix multiple) -->
{% macro inputCheckbox(name, label, value, checked, class) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            id="{{ name }}"
            class="{{ class|default('default_class') }}"
            name="{{ name }}[]"
            type="checkbox"
            value="{{ value }}"
            {{ checked|default('') }} >
    </div>
{% endmacro %}
